<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

<div class="usa-grid container">
<h3>Enter Transaction | ${tmpl.transactionType}</h3>
<div class="padded usa-width-two-thirds">
<label class="label" for="amount">Amount</label>
<input type="number" id="amount" step=".01" min="0">
</div>

<div class="padded usa-width-two-thirds">
<label class="label" for="transaction-date">Transaction Date</label>
<input type="date" id="transaction-date">
<div id="date-warning" style="color:red; display:none;">⚠ this date is outside of the reporting period</div>
</div>
<div class="padded usa-width-one-third">
<label class="label" for="election">Election</label>
<select id="election">
  <option>primary '16</option>
  <option>general '16</option>
<select>
</div>
</div>
<script>
$('#transaction-date').on('input', function() {
  if($(this).val().indexOf('2016-09') < 0) {
    $('#date-warning').show();
  } else {
    $('#date-warning').hide();
  }
})
</script>

${tmpl.contactTypes}

<div class="padded" style="background-color:lightgrey;overflow:hidden;">
<div style="float:left;width:35%">
<label class="label" for="last-name">Last Name</label>
<input id="last-name" type="text" class="combo__input" list="contributors">
<datalist id="contributors">
  <option>none of these, add new</option>
</datalist>
</div>

<div style="float:left;margin-left:10px;width:35%">
<label class="label" for="first-name">First Name</label>
<input type="text" id="first-name">
</div>

<div style="float:left;margin-left:10px;width:15%">
<label class="label" for="suffix">Suffix</label>
<select id="suffix">
  <option></option>
  <option>Jr.</option>
  <option>III</option>
</select>
</div>

</div>
<div id="result-found" class="message message--success" style="display:none">
<p id="result-name"><p>
<p>
  <span id="result-city"></span>, <span id="result-state"></span>, <span id="result-zip"></span>
</p>
<p id="result-occupation"></p>
<p id="result-employer"></p>
</div>
<script>
$("#last-name").on("input", function(e) {
    var val = $(this).val();
    if(val.length < 3) return;
    $.getJSON('https://api.open.fec.gov/v1/schedules/schedule_a/?two_year_transaction_period=2016&api_key=' +
        API_KEY + '&contributor_name=' + val + '&is_individual=' + is_individual,
      function(res) {
        matches = res.results.filter(function(result) {
            return result.contributor_name === val;
        })
        if(matches.length > 0) {
          $('#first-name').val($.trim(matches[0].contributor_name.split(',')[1]))
          $('#last-name').val($.trim(matches[0].contributor_name.split(',')[0]));
          $('#city').val(matches[0].contributor_city);
          $('#state').val(matches[0].contributor_state);
          $('#zip').val(matches[0].contributor_zip);
          $('#occupation').val(matches[0].contributor_occupation);
          $('#employer').val(matches[0].contributor_employer);
        }
        var dataList = $("#contributors");
        dataList.empty();
        if(res.results.length) {
          for(var i=0; i < Math.min(res.results.length, 10); i++) {
            var opt = $("<option></option>").attr("value", res.results[i].contributor_name)
                            .text('(Last Contribution: $' + Math.round(1000*Math.random()) + ')');
            dataList.append(opt);
          }
        }
    });
  });
</script>

<div id="manual-entry">

<div class="padded">
<label class="label" for="city">City</label>
<input type="text" id="city">
</div>

<div class="padded">
<label class="label" for="zip">Zip</label>
<input type="text" id="zip">
</div>

<div class="padded">
  <label class="label" for="state">State</label>
  <select id="state" name="state">
  	<option value="AL">Alabama</option>
  	<option value="AK">Alaska</option>
  	<option value="AZ">Arizona</option>
  	<option value="AR">Arkansas</option>
  	<option value="CA">California</option>
  	<option value="CO">Colorado</option>
  	<option value="CT">Connecticut</option>
  	<option value="DE">Delaware</option>
  	<option value="DC">District of Columbia</option>
  	<option value="FL">Florida</option>
  	<option value="GA">Georgia</option>
  	<option value="HI">Hawaii</option>
  	<option value="ID">Idaho</option>
  	<option value="IL">Illinois</option>
  	<option value="IN">Indiana</option>
  	<option value="IA">Iowa</option>
  	<option value="KS">Kansas</option>
  	<option value="KY">Kentucky</option>
  	<option value="LA">Louisiana</option>
  	<option value="ME">Maine</option>
  	<option value="MD">Maryland</option>
  	<option value="MA">Massachusetts</option>
  	<option value="MI">Michigan</option>
  	<option value="MN">Minnesota</option>
  	<option value="MS">Mississippi</option>
  	<option value="MO">Missouri</option>
  	<option value="MT">Montana</option>
  	<option value="NE">Nebraska</option>
  	<option value="NV">Nevada</option>
  	<option value="NH">New Hampshire</option>
  	<option value="NJ">New Jersey</option>
  	<option value="NM">New Mexico</option>
  	<option value="NY">New York</option>
  	<option value="NC">North Carolina</option>
  	<option value="ND">North Dakota</option>
  	<option value="OH">Ohio</option>
  	<option value="OK">Oklahoma</option>
  	<option value="OR">Oregon</option>
  	<option value="PA">Pennsylvania</option>
  	<option value="RI">Rhode Island</option>
  	<option value="SC">South Carolina</option>
  	<option value="SD">South Dakota</option>
  	<option value="TN">Tennessee</option>
  	<option value="TX">Texas</option>
  	<option value="UT">Utah</option>
  	<option value="VT">Vermont</option>
  	<option value="VA">Virginia</option>
  	<option value="WA">Washington</option>
  	<option value="WV">West Virginia</option>
  	<option value="WI">Wisconsin</option>
  	<option value="WY">Wyoming</option>
  </select>
</div>

<div class="padded">
<label class="label" for="employer">Employer</label>
<input type="text" id="employer">
</div>

<div class="padded">
<label class="label" for="occupation">Occupation</label>
<input type="text" id="occupation">
</div>

</div>

<!-- buttons !-->
<div class="padded t-centered">
  <p><button id="add-another" class="button--cta" style="width:80%">Save and add another transaction</button></p>
  <p><button id="save-and-finish" class="button--standard" style="width:80%">Save and finish</button><p>
  <p><a href="select-transaction-type.html">cancel</a></p>
</div>
<script>
  function saveTransaction() {
    var reportData = JSON.parse(localStorage.getItem('reportData'));
    var name = $('#last-name').val() + ', ' + $('#first-name').val() + ' ' + $('#suffix').val()
    var entry = {'name': name.toUpperCase(),
                  'city': $('#city').val(),
                  'state': $('#state').val(),
                  'zip': $('#zip').val(),
                  'amount': $('#amount').val(),
                  'date': $('#transaction-date').val(),
                  'occupation': $('#occupation').val(),
                  'employer': $('#employer').val(),
                  'type': 'receipt',
                  'isIndividual': is_individual}
    if(reportData) {
        reportData.push(entry)
    } else {
        reportData = [entry]
    }

    localStorage.setItem('reportData', JSON.stringify(reportData));
  }

  document.getElementById('add-another').addEventListener('click', function() {
      saveTransaction();
      location.reload();
  });

  document.getElementById('save-and-finish').addEventListener('click', function() {
    saveTransaction();
    window.location.href = 'ready-to-submit.html';
  })
</script>
