<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>
$(document).ready(function() {
	$("#contributor_id").on("input", function(e) {
			var val = $(this).val();
			if(val.length < 3) return;
      var entity_type;
      if($('#individual').prop('checked')) {
        entity_type = 'IND'
      } else {
        entity_type = 'ORG'
      }
			$.getJSON('https://api.open.fec.gov/v1/schedules/schedule_a/?api_key=' +
          API_KEY + '&contributor_name=' + val + '&entity_type=' + entity_type,
        function(res) {
          matches = res.results.filter(function(result) {
              return result.contributor_name === val;
          })
          if(matches.length > 0) {
            $('#manual-entry').hide();
            $('#result-name').text(matches[0].contributor_name);
            $('#result-city').text(matches[0].contributor_city);
            $('#result-state').text(matches[0].contributor_state);
            $('#result-zip').text(matches[0].contributor_zip);
            $('#contributor_id').css('background-color', 'lightgreen')
            $('#result-found').show();
          } else {
            $('#contributor_id').css('background-color', '')
            $('#manual-entry').show();
            $('#result-found').hide();
          }
  				var dataList = $("#contributors");
  				dataList.empty();
  				if(res.results.length) {
  					for(var i=0; i <res.results.length; i++) {
  						var opt = $("<option></option>").attr("value", res.results[i].contributor_name);
  						dataList.append(opt);
  					}
  				}
			});
		});
	});
</script>

<h3>Enter Transaction | Contributions</h3>
<div class="padded">
<label class="label" for="amount">Amount</label>
<input type="number" id="amount" step=".01" min="0">
</div>

<div class="padded">
<label class="label" for="transaction-date">Transaction Date</label>
<input type="date" id="transaction-date">
</div>

<div class="padded" style="border-top: 1px solid gray">
<fieldset>
     <legend class="label">Contact Type</legend>
     <ul>
       <li style="display:inline">
         <input type="radio" id="individual" name="transaction-type" tab-index="0" checked>
         <label for="individual">Individual</label>
       </li>
       <li style="display:inline">
         <input type="radio" id="committee" name="transaction-type" tab-index="0">
         <label for="committee">Committee</label>
       </li>
     </ul>
</fieldset>
</div>
<!--
<div class="padded">
<div class="filter js-filter typeahead-filter" data-filter="typeahead"
 id="contributor_id-field" data-name="contributor_id" data-dataset="contributors" data-allow-text>
  <label class="label" for="contributor_id">Contact Look-up</label>
  <div class="combo combo--search--mini filter__typeahead">
    <ul class="dropdown__selected"></ul>
    <input id="contributor_id" type="text" class="combo__input">
    <button class="combo__button button--search button--standard" type="button">
      <span class="u-visually-hidden">Search</span>
    </button>
  </div>
</div>
</div>
!-->
<div class="padded">
<label class="label" for="contributor_id">Contact Look-up</label>
<input id="contributor_id" type="text" class="combo__input" list="contributors">
<datalist id="contributors">
  <option>none of these, add new</option>
  <option>tony</option>
  <option>carol</option>
</datalist>
</div>

<div id="result-found" class="message message--success" style="display:none">
<p id="result-name"><p>
<p>
  <span id="result-city"></span>, <span id="result-state"></span>, <span id="result-zip"></span>
</p>
</div>

<div id="manual-entry">

<div class="padded">
<label class="label" for="name">Name</label>
<input type="text" id="name">
</div>

<div class="padded">
<label class="label" for="address">Address</label>
<input type="text" id="address">
</div>

<div class="padded">
<label class="label" for="zip">Zip</label>
<input type="text" id="zip">
</div>

<div class="padded">
<label class="label" for="city">City</label>
<input type="text" id="city">
</div>

<div class="padded">
  <label class="label" for="state">State</label>
  <select id="state" name="state">
  	<option value="AL">Alabama</option>
  	<option value="AK">Alaska</option>
  	<option value="AZ">Arizona</option>
  	<option value="AR">Arkansas</option>
  	<option value="CA">California</option>
  	<option value="CO">Colorado</option>
  	<option value="CT">Connecticut</option>
  	<option value="DE">Delaware</option>
  	<option value="DC">District of Columbia</option>
  	<option value="FL">Florida</option>
  	<option value="GA">Georgia</option>
  	<option value="HI">Hawaii</option>
  	<option value="ID">Idaho</option>
  	<option value="IL">Illinois</option>
  	<option value="IN">Indiana</option>
  	<option value="IA">Iowa</option>
  	<option value="KS">Kansas</option>
  	<option value="KY">Kentucky</option>
  	<option value="LA">Louisiana</option>
  	<option value="ME">Maine</option>
  	<option value="MD">Maryland</option>
  	<option value="MA">Massachusetts</option>
  	<option value="MI">Michigan</option>
  	<option value="MN">Minnesota</option>
  	<option value="MS">Mississippi</option>
  	<option value="MO">Missouri</option>
  	<option value="MT">Montana</option>
  	<option value="NE">Nebraska</option>
  	<option value="NV">Nevada</option>
  	<option value="NH">New Hampshire</option>
  	<option value="NJ">New Jersey</option>
  	<option value="NM">New Mexico</option>
  	<option value="NY">New York</option>
  	<option value="NC">North Carolina</option>
  	<option value="ND">North Dakota</option>
  	<option value="OH">Ohio</option>
  	<option value="OK">Oklahoma</option>
  	<option value="OR">Oregon</option>
  	<option value="PA">Pennsylvania</option>
  	<option value="RI">Rhode Island</option>
  	<option value="SC">South Carolina</option>
  	<option value="SD">South Dakota</option>
  	<option value="TN">Tennessee</option>
  	<option value="TX">Texas</option>
  	<option value="UT">Utah</option>
  	<option value="VT">Vermont</option>
  	<option value="VA">Virginia</option>
  	<option value="WA">Washington</option>
  	<option value="WV">West Virginia</option>
  	<option value="WI">Wisconsin</option>
  	<option value="WY">Wyoming</option>
  </select>
</div>

<div class="padded">
<label class="label" for="employer">Employer</label>
<input type="text" id="employer">
</div>

<div class="padded">
<label class="label" for="occupation">Occupation</label>
<input type="text" id="occupation">
</div>

</div>

<div class="padded t-centered">
  <p><button class="button--cta">Save and add another</button></p>
  <p><button class="button--standard">Save and finish</button><p>
  <p><a href="#">cancel</a></p>
</div>
