<h3>Report: October Monthly</h3>
<p style="color: gray">Tell us how you'd like to get started (2 of 2):</p>
<p class="t-centered">How would you like to enter your data?</p>

<div class="grid">
<div class="grid__item">
<div class="container">
    <div class="card__image__container">
      <div class="card card--horizontal card--full-bleed card--primary padded">
        <img alt="" src="/node_modules/fec-style/img/i-register--neutral.svg" class="icon--complex card__image">
        <div class="card__content">
          <h3><a href="#">Manual data entry >></a></h3>
          <p>Input transaction data one transaction at a time</p>
        </div>
      </div>
    </div>
</div>
</div>

<div class="grid">
<div class="grid__item">
<div class="container">
    <div class="card__image__container">
      <div class="card card--horizontal card--full-bleed card--secondary-contrast padded">
        <img alt="" src="/node_modules/fec-style/fec-icons/icons/arrow-up-border.svg" class="icon--complex card__image">
        <div class="card__content">
          <h3><a href="#">Import data >></a></h3>
          <p>Upload an excel or CSV file from your computer</p>
        </div>
      </div>
    </div>
</div>
</div>
