<h5>Tell us what you want to do:</h5>
<div class="grid">
<div class="grid__item">
<div class="container">
    <div class="card__image__container">
      <div class="card card--horizontal card--full-bleed">
        <img alt="" src="${tmpl.rootDir}node_modules/fec-style/img/i-filings--primary.svg" class="icon--complex card__image">
        <div class="card__content">
          <a href="#">Create a new report >></a>
        </div>
      </div>
    </div>
</div>
</div>

<div class="grid__item">
<div class="container">
    <div class="card__image__container">
      <div id="existing-report-card" class="card card--horizontal card--full-bleed">
        <img alt="" src="${tmpl.rootDir}node_modules/fec-style/img/i-filings--primary.svg" class="icon--complex card__image">
        <div class="card__content">
          <a href="${tmpl.rootDir}html/select-existing-report.html">Work on an existing report >></a>
        </div>
      </div>
    </div>
</div>
</div>

<div class="grid__item">
<div class="container">
    <div class="card__image__container">
      <div class="card card--horizontal card--full-bleed">
        <img alt="" src="${tmpl.rootDir}node_modules/fec-style/img/i-filings--primary.svg" class="icon--complex card__image">
        <div class="card__content">
          <a href="#">Amend a filed report >></a>
        </div>
      </div>
    </div>
</div>
</div>

<div class="grid__item">
<div class="container">
    <div class="card__image__container">
      <div class="card card--horizontal card--full-bleed">
        <img alt="" src="${tmpl.rootDir}node_modules/fec-style/img/i-filings--primary.svg" class="icon--complex card__image">
        <div class="card__content">
          <a href="#">Respond to RFAI >></a>
        </div>
      </div>
    </div>
</div>
</div>
</div>
