<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>FEC eFiling Prototype</title>
  <meta name="description" content="A static prototype for testing efiling data entry.">
  <meta name="author" content="18F">

  <link rel="stylesheet" href="/node_modules/fec-style/css/styles.css">
  <link rel="stylesheet" href="/css/styles.css">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
  <script>
    BASE_PATH = '/data';
    CMS_URL = 'https://beta.fec.gov',
    API_LOCATION = 'https://api.open.fec.gov/';
    API_VERSION = 'v1';
    API_KEY = '5yyI90SU3Xb73TVlv4wrEhQxYcCwMWCywQiGdYbJ'
  </script>

  <link rel="icon" type="image/png" href="/node_modules/fec-style/img/favicon/favicon-196x196.png" sizes="196x196">
  <link rel="icon" type="image/png" href="/node_modules/fec-style/img/favicon/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/node_modules/fec-style/img/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/node_modules/fec-style/img/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/node_modules/fec-style/img/favicon/favicon-128.png" sizes="128x128">
</head>

<body>
  <div class="slab slab--primary" style="padding:2rem;">
    ${tmpl.breadcrumbs}
  </div>
    <header class="heading--section heading--with-action">
      ${tmpl.header}
    </header>
  <div class="usa-grid container">
    <div class="usa-width-one-half u-padding-left u-padding-right left-pane">
      ${tmpl.leftPane}
    </div>
    <div class="usa-width-one-half">
      ${tmpl.rightPane}
    </div>
  </div>
<script src="/node_modules/fec-style/fec-template/public/main.js"></script>
</body>
</html>
