<div class="padded" style="border-top: 1px solid gray">
<fieldset>
     <legend class="label">Contact Type</legend>
     <ul>
       <li style="display:inline">
         <input type="radio" id="individual" name="transaction-type" tab-index="0" checked>
         <label for="individual">Individual</label>
       </li>
       <li style="display:inline">
         <input type="radio" id="committee" name="transaction-type" tab-index="0">
         <label for="committee">Committee</label>
       </li>
     </ul>
</fieldset>
</div>
<script>
  var is_individual = 'true'
  document.getElementById('individual').addEventListener('click', function() {
    is_individual = 'true'
  })
  document.getElementById('committee').addEventListener('click', function() {
    is_individual = 'false'
  })
</script>
